@model IEnumerable<RKGems.Models.Russian>

@{
    ViewData["Title"] = "Index";
}
<h2 style="text-align:center; border:4px double; margin: 0 12em 0 12em">Russian</h2>

<link rel="stylesheet" href="~/css/animation.css">

<p>
    <a asp-action="Create" class="btn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="color:black; background-color:lightgray; border:4px double black">
            <th>
                @Html.DisplayNameFor(model => model.PurchaseItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RussianQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RussianWeight)
            </th>
            <th>
                Remaining
            </th>
            <th>
                Result
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IdOfFourP)
                </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseItemNumber.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RussianQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RussianWeight)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IdOfFourP)*@
                @(item.PurchaseItemNumber.PurchaseWeight - item.RussianQuantity)
            </td>
            <td>
                @(((item.RussianWeight / item.WeightOfFourP.FourPWeight) * 100).ToString("0.00"))%
            </td>
            @*<td>
            <a asp-action="Edit" asp-route-id="@item.RussianId" class="btn" style="height: 1.7em; font-size: 0.8em; padding: 0px 8px; border: 2px solid black">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.RussianId" class="btn" style="height: 1.7em; font-size: 0.8em; padding: 0px 8px; border: 2px solid black">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.RussianId" class="btn" style="height: 1.7em; font-size: 0.8em; padding: 0px 8px; border: 2px solid black">Delete</a>
        </td>*@

            <td>
                <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
                <div class="row">
                    <div class="btn button">
                        <a asp-action="Edit" asp-route-id="@item.RussianId" class="noselect" style="color:black; border: none">Edit</a>
                    </div>
                    <div style="padding:0 1em 0 0"></div>
                    <div class="btn button">
                        <a asp-action="Delete" asp-route-id="@item.RussianId" class="noselect" style="color:black; border:none">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
