@model RKGems.Models.FourP

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FourP</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FourPQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FourPQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FourPWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FourPWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItemNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItemNumber.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdOfResult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdOfResult)
        </dd>
    </dl>

    @*<form asp-action="Delete">
            <input type="hidden" asp-for="FourPId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>*@
    <form asp-action="Delete">
        <input type="hidden" asp-for="FourPId" />
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <button type="submit" class="btn">Delete</button>
                </div>
            </div>
            <div class="col-2">
                <a asp-action="Index" class="btn">Cancel</a>
            </div>
        </div>
    </form>
</div>
